In [3]:
import pandas as pd

df = pd.read_csv('openings.csv', encoding='utf-8') # Ottaa filun kayttoon

df.head(3) # Tulostaa 3 ensimmaista rivia

,Unnamed: 0,Opening,Colour,Num Games,ECO,Last Played,Perf Rating,Avg Player,Player Win %,Draw %,...,move2b,move3w,move3b,move4w,move4b,White_win%,Black_win%,White_odds,White_Wins,Black_Wins
0,0,"Alekhine Defense, Balogh Variation",white,692,B03,2018-06-22,2247,2225,40.8,24.3,...,Nd5,d4,d6,Bc4,NaN,40.8,35.0,1.165714,282.336,242.200
1,1,"Alekhine Defense, Brooklyn Variation",black,228,B02,2018-06-27,2145,2193,29.8,22.4,...,Ng8,NaN,NaN,NaN,NaN,47.8,29.8,1.604027,108.984,67.944
2,2,"Alekhine Defense, Exchange Variation",white,6485,B03,2018-07-06,2244,2194,40.8,27.7,...,Nd5,d4,d6,c4,Nb6,40.8,31.5,1.295238,2645.880,2042.775

In [ ]:
df.head(2) # Tulostaa 2 ensimmaista rivia

,Unnamed: 0,Opening,Colour,Num Games,ECO,Last Played,Perf Rating,Avg Player,Player Win %,Draw %,...,move2b,move3w,move3b,move4w,move4b,White_win%,Black_win%,White_odds,White_Wins,Black_Wins
0,0,"Alekhine Defense, Balogh Variation",white,692,B03,2018-06-22,2247,2225,40.8,24.3,...,Nd5,d4,d6,Bc4,NaN,40.8,35.0,1.165714,282.336,242.200
1,1,"Alekhine Defense, Brooklyn Variation",black,228,B02,2018-06-27,2145,2193,29.8,22.4,...,Ng8,NaN,NaN,NaN,NaN,47.8,29.8,1.604027,108.984,67.944

In [ ]:
df.info() # Tulostaa taulukon tiedot

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1884 entries, 0 to 1883
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1884 non-null   int64
 1   Opening         1884 non-null   object
 2   Colour          1884 non-null   object
 3   Num Games       1884 non-null   int64
 4   ECO             1884 non-null   object
 5   Last Played     1884 non-null   object
 6   Perf Rating     1884 non-null   int64
 7   Avg Player      1884 non-null   int64
 8   Player Win %    1884 non-null   float64
 9   Draw %          1884 non-null   float64
 10  Opponent Win %  1884 non-null   float64
 11  Moves           1884 non-null   object
 12  moves_list      1884 non-null   object
 13  move1w          1884 non-null   object
 14  move1b          1869 non-null   object
 15  move2w          1814 non-null   object
 16  move2b          1744 non-null   object
 17  move3w          1628 non-null   object
 18  move3b          1501 non-null   object
 19  move4w          1340 non-null   object
 20  move4b          1186 non-null   object
 21  White_win%      1884 non-null   float64
 22  Black_win%      1884 non-null   float64
 23  White_odds      1884 non-null   float64
 24  White_Wins      1884 non-null   float64
 25  Black_Wins      1884 non-null   float64
dtypes: float64(8), int64(4), object(14)
memory usage: 382.8+ KB

In [ ]:
df.shape # Antaa molemmat
# df.shape[0] Antaa rivit
# df.shape[1] Antaa sarakkeet

(1884, 26)

In [ ]:
df.columns # Tulsotaa sarakkeiden nimet.

Index(['Unnamed: 0', 'Opening', 'Colour', 'Num Games', 'ECO', 'Last Played',
       'Perf Rating', 'Avg Player', 'Player Win %', 'Draw %', 'Opponent Win %',
       'Moves', 'moves_list', 'move1w', 'move1b', 'move2w', 'move2b', 'move3w',
       'move3b', 'move4w', 'move4b', 'White_win%', 'Black_win%', 'White_odds',
       'White_Wins', 'Black_Wins'],
      dtype='object')

In [ ]:
df.index # sadaan ensimmainen ja viimeinen indeksi

RangeIndex(start=0, stop=1884, step=1)

In [ ]:
column_data_types = df.dtypes # Lisataan column_data_types komentoon datatyypit (dtypes) KAIKILTA SARAKKEILTA

print(column_data_types) # Tulostetaan kyseiset data tyypit KAIKILTA SARAKKEILTA

Unnamed: 0          int64
Opening            object
Colour             object
Num Games           int64
ECO                object
Last Played        object
Perf Rating         int64
Avg Player          int64
Player Win %      float64
Draw %            float64
Opponent Win %    float64
Moves              object
moves_list         object
move1w             object
move1b             object
move2w             object
move2b             object
move3w             object
move3b             object
move4w             object
move4b             object
White_win%        float64
Black_win%        float64
White_odds        float64
White_Wins        float64
Black_Wins        float64
dtype: object

In [ ]:
column_data_types = df['Avg Player'].dtype ## Annetaan yksittaisen sarakkeen tyyppi
print(column_data_types) # tulostetaan se

int64

In [ ]:
#Sorting

df.sort_values('Avg Player', ascending=False)

,Unnamed: 0,Opening,Colour,Num Games,ECO,Last Played,Perf Rating,Avg Player,Player Win %,Draw %,...,move2b,move3w,move3b,move4w,move4b,White_win%,Black_win%,White_odds,White_Wins,Black_Wins
1115,1115,"Queen's Gambit Declined, Harrwitz Attack, Two ...",white,684,D37,2018-07-07,2534,2492,37.0,48.1,...,e6,Nc3,Nf6,Nf3,Be7,37.0,14.9,2.483221,253.080,101.916
729,729,"King's Indian Defense, Fianchetto Variation, P...",black,294,E64,2018-06-02,2449,2490,28.6,46.6,...,g6,Nf3,Bg7,g3,c5,24.8,28.6,0.867133,72.912,84.084
1206,1206,"Queen's Indian Defense, Fianchetto Variation, ...",white,703,E15,2018-07-02,2514,2488,34.1,43.0,...,e6,Nf3,b6,g3,Ba6,34.1,22.9,1.489083,239.723,160.987
257,257,"English Opening, Adorjan Defense",black,211,A10,2018-07-08,2451,2482,24.2,42.2,...,e5,NaN,NaN,NaN,NaN,33.6,24.2,1.388430,70.896,51.062
886,886,"Nimzo-Indian Defense, Normal Variation, Gligor...",black,129,E54,2017-07-20,2434,2481,26.4,42.6,...,e6,Nc3,Bb4,e3,O-O,31.0,26.4,1.174242,39.990,34.056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627,627,"Italian Game, Schilling-Kostic Gambit",black,206,C50,2018-06-11,1645,1684,37.4,12.1,...,Nc6,Bc4,Nd4,NaN,NaN,50.5,37.4,1.350267,104.030,77.044
590,590,"Italian Game, Anti-Fried Liver Defense",black,606,C55,2018-06-29,1583,1636,20.0,14.2,...,Nc6,Bc4,h6,NaN,NaN,65.8,20.0,3.290000,398.748,121.200
1489,1489,"Sicilian Defense, Marshall Gambit",black,146,B23,2018-06-16,1636,1629,19.2,14.4,...,e6,d4,d5,NaN,NaN,66.4,19.2,3.458333,96.944,28.032
637,637,"Italian Game, Two Knights Defense, Knight Atta...",black,111,C57,2018-06-30,1626,1606,36.0,17.1,...,Nc6,Bc4,Nf6,Ng5,d5,46.9,36.0,1.302778,52.059,39.960
1447,1447,"Sicilian Defense, Franco-Scilian Variation",black,126,B32,2018-06-27,1596,1577,20.6,4.0,...,Nc6,d4,e6,NaN,NaN,75.4,20.6,3.660194,95.004,25.956

In [ ]:
# Changing type // Tolla saadaan esim dollarit valuuutasta poies
# df['Avg Player'] = df['Avg Player'].str.replace('$','').astype(float)

In [4]:
df.head(1)

,Unnamed: 0,Opening,Colour,Num Games,ECO,Last Played,Perf Rating,Avg Player,Player Win %,Draw %,...,move2b,move3w,move3b,move4w,move4b,White_win%,Black_win%,White_odds,White_Wins,Black_Wins
0,0,"Alekhine Defense, Balogh Variation",white,692,B03,2018-06-22,2247,2225,40.8,24.3,...,Nd5,d4,d6,Bc4,NaN,40.8,35.0,1.165714,282.336,242.2

In [ ]:
# Saamme listattua uuden kategorian taulukkoomme jota kautta voimme saada haluttua statistiikkaa
# Esimerkiksi onko tuote kallis/halpa, taito tasoa tai muuta vastaavaa.

def categorize_MW(Black_Wins):
    if Black_Wins < 1000:
        return 'Noob'
    elif Black_Wins < 1700:
        return 'decent'
    else:
        return 'ProMan'

df['mustan taito'] = df['Black_Wins'].apply(categorize_MW)
df.head(5)

,Unnamed: 0,Opening,Colour,Num Games,ECO,Last Played,Perf Rating,Avg Player,Player Win %,Draw %,...,move3w,move3b,move4w,move4b,White_win%,Black_win%,White_odds,White_Wins,Black_Wins,mustan taito
0,0,"Alekhine Defense, Balogh Variation",white,692,B03,2018-06-22,2247,2225,40.8,24.3,...,d4,d6,Bc4,NaN,40.8,35.0,1.165714,282.336,242.200,Noob
1,1,"Alekhine Defense, Brooklyn Variation",black,228,B02,2018-06-27,2145,2193,29.8,22.4,...,NaN,NaN,NaN,NaN,47.8,29.8,1.604027,108.984,67.944,Noob
2,2,"Alekhine Defense, Exchange Variation",white,6485,B03,2018-07-06,2244,2194,40.8,27.7,...,d4,d6,c4,Nb6,40.8,31.5,1.295238,2645.880,2042.775,ProMan
3,3,"Alekhine Defense, Four Pawns Attack",white,881,B03,2018-06-20,2187,2130,39.7,23.2,...,d4,d6,c4,Nb6,39.7,37.1,1.070081,349.757,326.851,Noob
4,4,"Alekhine Defense, Four Pawns Attack, Fianchett...",black,259,B03,2018-05-20,2122,2178,37.8,21.2,...,d4,d6,c4,Nb6,40.9,37.8,1.082011,105.931,97.902,Noob